/*==========================================================================
* About One CSS
==========================================================================*/
.about__one {
  &-area {
    border: 2px solid var(--color-1);
    display: flex;
    align-items: stretch;
  }
  &-left {
    z-index: 1;
    position: relative;
    flex-shrink: 0;
    max-width: 50%;
    width: 50%;
    &-image {
      height: 100%;
      img {
        height: 100%;
        object-fit: cover;
        width: 100%;
      }
    }
  }
  &-right {
    padding: 40px 40px;
    &-title {
      h2 {
        margin-bottom: 10px;
      }
      p {
        margin-bottom: 40px;
      }
    }
    &-list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      &-item {
        border-right: 1px solid var(--color-1);
        border-bottom: 1px solid #181818;
        padding: 30px 20px;
        p {
          margin-top: 8px;
          margin-bottom: 0;
        }
        &:nth-child(1) {
          padding-inline-start: 0;
          padding-top: 0;
        }
        &:nth-child(2) {
          padding-inline-end: 0;
          border-right: 0;
          padding-top: 0;
        }
        &:nth-child(3) {
          padding-inline-start: 0;
          border-bottom: 0;
          padding-bottom: 0;
        }
        &:nth-child(4) {
          padding-inline-end: 0;
          padding-bottom: 0;
          border: 0;
        }
      }
    }
  }
}
@media (max-width: 1199px) {
  .about__one-left {
    max-width: 40%;
    width: 40%;
  }
}
@media (max-width: 991px) {
  .about__one-left {
    max-width: 100%;
    width: 100%;
  }
  .about__one-area {
    display: block;
  }
}
@media (max-width: 575px) {
  .about__one-right-list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    &-item {
      &:nth-child(1) {
        padding: 0;
        border: 0;
        padding-bottom: 25px;
      }
      &:nth-child(2) {
        padding: 25px 0;
        border-top: 1px solid;
      }
      &:nth-child(3) {
        padding: 0;
        padding: 25px 0;
        border: 0;
      }
      &:nth-child(4) {
        padding: 0;
        border: 0;
        padding-top: 25px;
        border-top: 1px solid;
      }
    }
  }
  .about__one-right {
    padding: 40px 20px;
  }
}
