/*==========================================================================
* Banner One CSS
==========================================================================*/
.banner__one {
  position: relative;
  z-index: 2;
  background-image: url("/img/shape/banner-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  &-content {
    padding-inline-end: 10px;
    padding-bottom: 50px;
    padding-top: 40px;
    h1 {
      margin-bottom: 25px;
      span {
        color: var(--primary-color-1);
      }
    }
    &-button {
      margin-top: 30px;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 30px;
      .video {
        a {
          display: inline-flex;
          align-items: center;
          gap: 20px;
          i {
            width: 60px;
            height: 60px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            background: var(--primary-color-1);
            color: var(--text-white);
            border-radius: 50%;
          }
        }
      }
    }
  }
  &-image {
    padding-top: 60px;
    margin-inline-start: -60px;
    img {
      width: 100%;
    }
  }
}

.video-popup,
a {
  cursor: pointer;
}
/*==========================================================================
* Banner Two CSS
==========================================================================*/
.banner__two {
  position: relative;
  z-index: 2;
  background-image: url("/img/shape/banner-bg-2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 60px;
  padding-bottom: 90px;
  &-content {
    h1 {
      margin-bottom: 25px;
      span {
        color: var(--primary-color-1);
      }
    }
    p {
      margin-bottom: 40px;
      max-width: 650px;
    }
  }
  &-image {
    position: relative;
    z-index: 1;
    text-align: center;
    padding-bottom: 17px;
    .one {
      transform: scaleX(-1);
    }
    .shape {
      position: absolute;
      inset-inline-start: 50%;
      bottom: 0;
      z-index: -1;
      transform: translateX(-50%);
    }
    .content {
      display: flex;
      align-items: center;
      gap: 20px;
      padding: 20px 40px 20px 30px;
      background: var(--bg-white);
      position: absolute;
      inset-inline-start: -80px;
      bottom: 80px;
      z-index: 1;
      text-align: left;
      animation: bounce-y 4s infinite linear;
      &-icon i {
        font-size: 60px;
        color: var(--primary-color-1);
      }
      &-title {
        h3 {
          font-weight: 600;
          line-height: 40px;
        }
        > span {
          font-size: 14px;
          line-height: 24px;
          font-weight: 400;
        }
      }
    }
  }
}
@media (max-width: 1260px) {
  .banner__one-content h1 {
    font-size: 68px;
    line-height: 78px;
  }
  .banner__two-content h1 {
    font-size: 58px;
    line-height: 68px;
  }
}
@media (max-width: 991px) {
  .banner__one-content {
    padding: 90px 0 50px 0;
  }
  .banner__one-image {
    padding-top: 0;
    margin-inline-start: 0;
  }
  .banner__two-image .content {
    inset-inline-start: 10px;
  }
}
@media (max-width: 460px) {
  .banner__two-content h1,
  .banner__one-content h1 {
    font-size: 46px;
    line-height: 56px;
  }
}
@media (max-width: 359px) {
  .banner__two-content h1 {
    font-size: 40px;
    line-height: 50px;
  }
}
