/*==========================================================================
* Blog One CSS
==========================================================================*/
.blog__one {
  overflow: hidden;
  &-item {
    display: flex;
    border-radius: 5px;
    border: 1px solid #181818;
    margin-top: 30px;
    overflow: hidden;
    &-thumb {
      width: 48%;
      max-width: 48%;
      flex-shrink: 0;
      &-image {
        position: relative;
        height: 100%;
        img {
          height: 100%;
          object-fit: cover;
          width: 100%;
        }
      }
    }
    &-inner {
      display: flex;
      justify-content: space-between;
      padding: 30px 40px 35px 30px;
      flex-direction: column;
      &-content {
        h5 a {
          transition: 0.4s;
          &:hover {
            color: var(--secondary-color-1);
          }
        }
        p {
          margin-bottom: 35px;
        }
        ul {
          padding: 0;
          margin: 0;
          margin-top: 5px;
          margin-bottom: 8px;
          display: inline-flex;
          column-gap: 25px;
          align-items: center;
          flex-wrap: wrap;
          row-gap: 5px;
          li {
            list-style: none;
            a {
              transition: 0.4s;
              display: inline-flex;
              gap: 10px;
              align-items: center;
              font-size: 14px;
              line-height: 24px;
              i {
                color: var(--secondary-color-1);
              }
              &:hover {
                color: var(--secondary-color-1);
              }
            }
          }
        }
      }
    }
  }
}
/*==========================================================================
* Blog Two CSS
==========================================================================*/
.blog__two {
  &-title {
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
  }
  &-item {
    margin-top: 30px;
    &-content {
      padding: 30px;
      border: 1px solid #181818;
      border-top: 0;
      h5 {
        margin-bottom: 20px;
        a {
          transition: 0.4s;
        }
      }
      .meta {
        padding-top: 15px;
        border-top: 1px solid #181818;
        display: flex;
        align-items: center;
        justify-content: space-between;
        ul {
          padding: 0;
          margin: 0;
          display: inline-flex;
          column-gap: 25px;
          align-items: center;
          flex-wrap: wrap;
          row-gap: 5px;
          li {
            list-style: none;
            a {
              transition: 0.4s;
              display: inline-flex;
              gap: 10px;
              align-items: center;
              font-size: 14px;
              line-height: 24px;
              font-weight: 400;
              i {
                color: var(--primary-color-1);
              }
              &:hover {
                color: var(--primary-color-1);
              }
            }
          }
        }
        > a i {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          border: 1px solid #181818;
          font-size: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: 0.4s;
        }
      }
    }
    &:hover {
      .blog__two-item-content h5 a {
        color: var(--primary-color-1);
      }
      .blog__two-item-content .meta > a i {
        transform: rotate(45deg);
        background: var(--primary-color-1);
        color: var(--text-white);
        border-color: var(--primary-color-1);
      }
    }
  }
}
/*==========================================================================
* Blog Details CSS
==========================================================================*/
.blog__standard {
  &-item {
    .blog__details-left-image .meta {
      background: var(--color-8);
    }
    &-content {
      border: 1px solid #181818;
      border-top: 0;
      padding: 35px;
      padding-top: 25px;
      h3 {
        margin-bottom: 15px;
        a {
          transition: 0.4s;
          &:hover {
            color: var(--primary-color-1);
          }
        }
      }
      p {
        margin-bottom: 40px;
      }
    }
  }
}
/*==========================================================================
* Blog Details CSS
==========================================================================*/
.blog__details {
  &-left {
    &-image {
      position: relative;
      z-index: 1;
      .meta {
        position: absolute;
        inset-inline-start: 0;
        bottom: 0;
        background: var(--secondary-color-3);
        padding: 0 20px;
        margin: 20px;
        border-radius: 5px;
        ul {
          padding: 0;
          margin: 0;
          display: inline-flex;
          column-gap: 25px;
          align-items: center;
          flex-wrap: wrap;
          row-gap: 5px;
          li {
            list-style: none;
            a {
              transition: 0.4s;
              display: inline-flex;
              gap: 10px;
              align-items: center;
              font-size: 14px;
              line-height: 24px;
              font-weight: 400;
            }
          }
        }
      }
    }
    &-box {
      border: 1px solid var(--primary-color-1);
      padding: 30px 40px;
      border-radius: 5px;
      margin: 35px 0;
      i {
        font-size: 50px;
        color: var(--color-8);
      }
      p {
        margin-bottom: 25px;
        font-size: 14px;
        line-height: 24px;
      }
    }
    .list {
      p {
        i {
          margin-inline-end: 10px;
          color: var(--color-8);
        }
      }
    }
    &-tag {
      display: flex;
      align-items: center;
      column-gap: 30px;
      row-gap: 20px;
      margin-top: 45px;
      margin-bottom: 55px;
      flex-wrap: wrap;
      h6 {
        font-size: 20px;
        line-height: 30px;
      }
    }
    &-comment {
      &-item {
        border: 1px solid #181818;
        padding: 30px;
        &-comment {
          &-image {
            float: left;
            img {
              min-width: 120px;
              width: 120px;
              height: 125px;
              object-fit: cover;
              border-radius: 5px;
            }
          }
          &-content {
            padding-inline-start: 30px;
            overflow: hidden;
            span {
              font-size: 14px;
              margin-bottom: 5px;
              display: inline-block;
            }
            h6 {
              font-size: 18px;
              line-height: 28px;
              a {
                float: right;
                transition: 0.4s;
                font-style: normal;
                font-weight: 700;
                font-size: 14px;
                line-height: 24px;
                color: var(--heading-color);
                padding: 6px 10px;
                border-radius: 4px;
                background: var(--color-8);
                i {
                  margin-inline-end: 10px;
                }
                &:hover {
                  color: var(--heading-color);
                  background: var(--secondary-color-1);
                }
              }
            }
            p {
              max-width: 580px;
              margin-bottom: 0;
            }
          }
        }
      }
    }
    &-contact {
      padding: 40px;
      border: 1px solid #181818;
      form {
        input,
        textarea {
          background: var(--color-2);
          border-color: var(--color-2);
          font-size: 16px;
        }
      }
    }
  }
}
.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--secondary-color-2);
  padding: 20px 30px;
  border-radius: 10px;
  a {
    display: flex;
    align-items: center;
    gap: 15px;
    i {
      width: 50px;
      height: 50px;
      font-size: 20px;
      border: 1px solid #181818;
      border-radius: 50%;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      transition: 0.4s;
    }
    &:hover i {
      background: #c3e348;
      border-color: #c3e348;
    }
  }
}
@media (max-width: 767px) {
  .blog__one-item {
    display: block;
    &-thumb {
      width: 100%;
      max-width: 100%;
    }
  }
}
@media (max-width: 575px) {
  .blog__one-item-inner {
    padding: 25px 30px 30px 25px;
  }
  .blog__two-item-content {
    padding: 25px;
  }
  .blog__details-left-box {
    padding: 25px;
  }
  .navigation {
    padding: 20px;
    h5 {
      font-size: 18px;
      line-height: 26px;
    }
    a i {
      width: 40px;
      height: 40px;
      font-size: 16px;
    }
  }
  .blog__details-left-comment-item {
    padding: 25px;
    &-comment-image {
      float: initial;
    }
    &-comment-content {
      padding: 0;
      margin-top: 20px;
    }
  }
  .blog__details-left-contact {
    padding: 25px;
  }
  .blog__standard-item-content {
    padding: 25px;
    padding-top: 15px;
  }
}
