/*==========================================================================
* Contact One CSS
==========================================================================*/
.contact__one {
  &-area {
    background: var(--secondary-color-3);
    padding: 60px;
    &-left {
      margin-inline-end: 30px;
      .info {
        max-width: 330px;
        &-item {
          padding-bottom: 20px;
          border-bottom: 1px solid #b1a2a2;
          margin-top: 20px;
          &-content h5 a {
            transition: all 0.4s ease-out;
            &:hover {
              color: var(--primary-color-1);
            }
          }
        }
      }
    }
    &-right {
      background: var(--bg-white);
      padding: 60px 40px;
      border-radius: 20px;
    }
  }
}
/*==========================================================================
* Contact Two CSS
==========================================================================*/
.contact__one {
  &-item {
    margin-top: 25px;
    border: 1px solid var(--border-color-1);
    padding: 40px 30px;
    border-radius: 6px;
    i {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 70px;
      height: 70px;
      color: var(--primary-color-1);
      background: var(--color-7);
      border-radius: 50%;
      font-size: 35px;
      margin-bottom: 40px;
      transition: 0.4s;
    }
    h6 {
      font-size: 20px;
      line-height: 30px;
      font-weight: 700;
      a {
        transition: 0.4s;
        &:hover {
          color: var(--primary-color-1);
        }
      }
    }
    &:hover {
      i {
        background: var(--primary-color-1);
        color: var(--text-white);
      }
    }
  }
  &-map {
    height: 100%;
    iframe {
      width: 100%;
      height: 100%;
      display: block;
    }
  }
}
.contact__form {
  &-area {
    background: var(--color-3);
    padding: 70px 50px;
    h3 {
      margin-bottom: 30px;
    }
    &-item {
      textarea,
      input {
        background: var(--bg-white);
      }
    }
  }
}
/*==========================================================================
* Contact Page CSS
==========================================================================*/
.contact__page {
  &-left {
    img {
      width: 100%;
      min-height: 619px;
      object-fit: cover;
    }
    .info {
      background: var(--color-2);
      padding: 20px 30px;
      margin-top: 30px;
      &-item {
        display: flex;
        align-items: center;
        margin-bottom: 25px;
        gap: 20px;
        &-icon {
          i {
            background: var(--secondary-color-2);
            font-size: 20px;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            color: var(--color-1);
            display: inline-flex;
            align-items: center;
            justify-content: center;
          }
        }
        &-content {
          span {
            display: inline-block;
          }
          h6 {
            a {
              transition: all 0.4s ease-out;
              &:hover {
                color: var(--primary-color-1);
              }
            }
          }
        }
        &:last-child {
          margin: 0;
        }
      }
    }
  }
  &-right {
    padding: 40px 30px;
    border: 1px solid #e3e3e3;
    border-radius: 10px;
    h2 {
      margin-bottom: 50px;
    }
    form {
      input,
      textarea {
        border-color: #e3e3e3;
      }
      textarea {
        height: 361px;
      }
    }
  }
}
@media (max-width: 767px) {
  .contact__one-area {
    padding: 30px 20px;
  }
  .contact__one-area-right {
    padding: 40px 25px;
  }
  .contact__form-area-item {
    button {
      padding: 19px 30px 17px 30px;
    }
  }
  .contact__page {
    &-left {
      img {
        min-height: inherit;
      }
      .info {
        padding: 20px;
      }
    }
    &-right {
      padding: 30px 25px;
      form textarea {
        height: 250px;
      }
    }
  }
}
