/*==========================================================================
* Copyright CSS
==========================================================================*/
.copyright__one {
  margin-top: 90px;
  padding: 30px 0;
  border-top: 1px solid var(--color-7);
  p {
    margin: 0;
    color: var(--color-5);
  }
  &-menu {
    ul {
      padding: 0;
      margin: 0;
      display: inline-flex;
      align-items: center;
      column-gap: 20px;
      flex-wrap: wrap;
      justify-content: center;
      li {
        display: inline-block;
        list-style: none;
        a {
          color: var(--color-5);
          transition: 0.4s;
          &:hover {
            color: var(--secondary-color-2);
          }
        }
      }
    }
  }

  a {
    &:hover {
      color: var(--secondary-color-2);
    }
  }
}
