/*==========================================================================
* Counter One CSS
==========================================================================*/
.counter__one {
  &-grid {
    display: flex;
    justify-content: space-between;
    gap: 30px;
  }
  &-item {
    display: flex;
    align-items: center;
    gap: 30px;
    > span {
      font-size: 22px;
      font-weight: 600;
      line-height: 34px;
      max-width: 150px;
    }
  }
}
/*==========================================================================
* Counter Two CSS
==========================================================================*/
.counter__two {
  &-item {
    padding: 30px;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.06);
    > span {
      margin-top: 10px;
      padding-top: 15px;
      border-top: 1px solid #181818;
      display: block;
    }

    h2 {
      display: flex;
      align-items: center;
      gap: 0px;
    }

    .pre {
      margin-top: -8px;
    }
  }
}
@media (max-width: 1150px) {
}
