/*==========================================================================
* Cta One CSS
==========================================================================*/
.cta__one {
  position: relative;
  z-index: 1;
  background-image: linear-gradient(180deg, #f8f7f000 60%, var(--color-1) 0%);
  &-area {
    background: var(--secondary-color-1);
    padding: 60px;
    overflow: hidden;
    &-content {
      &-tel {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-top: 20px;
        .icon i {
          position: relative;
          z-index: 1;
          width: 60px;
          height: 60px;
          border-radius: 50%;
          color: var(--heading-color);
          background: var(--secondary-color-2);
          font-size: 25px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .info {
          span {
            display: block;
            font-size: 14px;
            line-height: 24px;
          }
          h6 {
            color: var(--heading-color);
            font-weight: 500;
          }
        }
      }
    }
  }
  &-form {
    padding-inline-start: 65px;
    button {
      width: 100%;
      margin-top: 12px;
    }
  }
}
@media (max-width: 1199px) {
  .cta__one-form {
    padding-inline-start: 0;
  }
}
@media (max-width: 991px) {
  .faq__two-image img {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .cta__one-area {
    padding: 60px 30px;
  }
}
@media (max-width: 460px) {
  .cta__one-area {
    padding: 60px 20px;
    &-content-tel .info h4 {
      font-size: 20px;
      line-height: 30px;
    }
  }
}
/*==========================================================================
* Solutions CSS
==========================================================================*/
.solutions__area {
  overflow: hidden;
  &-left {
    max-width: 635px;
    p {
      margin-bottom: 0;
      margin-top: 20px;
    }
  }
  &-right {
    border-left: 4px solid var(--primary-color-1);
    padding: 60px 40px;
    display: flex;
    align-items: center;
    gap: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.08);
    h2 {
      display: flex;
      align-items: center;
      gap: 0px;
      min-width: max-content;
    }

    .pre {
      margin-top: -8px;
    }
  }
}
