/*==========================================================================
* Portfolio One CSS
==========================================================================*/
.portfolio__one {
  overflow: hidden;
  &-item {
    position: relative;
    z-index: 1;
    margin-top: 30px;
    overflow: hidden;
    img {
      width: 100%;
    }
    &-content {
      position: absolute;
      inset-inline-start: 0;
      bottom: 0;
      padding: 30px;
      span {
        display: inline-block;
        background: var(--primary-color-1);
        color: var(--text-white);
        padding: 3px 25px;
        opacity: 0;
        transition: 0.4s;
        transform: translateX(-20px);
      }
      h5 a {
        background: var(--bg-white);
        color: var(--heading-color);
        padding: 18px 70px 18px 26px;
        display: inline-block;
        opacity: 0;
        transition: 0.4s;
        transform: translateX(20px);
      }
    }
    &:hover {
      img {
        transform: scale(1.1);
      }
      .portfolio__one-item-content {
        span,
        h5 a {
          opacity: 1;
          transform: translateX(0);
        }
      }
    }
  }
}
/*==========================================================================
* Portfolio Two CSS
==========================================================================*/
.portfolio__two {
  background: var(--color-1);
  &-title {
    text-align: center;
    max-width: 680px;
    margin: 0 auto;
    h2 {
      color: var(--text-white);
    }
  }
  &-item {
    margin-top: 30px;
    img {
      min-height: 560px;
      object-fit: cover;
    }
    &-content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: 30px;
      span {
        color: var(--text-white);
      }
      h4 {
        color: var(--text-white);
        a {
          transition: 0.4s;
          &:hover {
            color: var(--secondary-color-1);
          }
        }
      }
      a i {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        color: var(--text-white);
        border: 1px solid var(--bg-white);
        font-size: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.4s;
        &:hover {
          transform: rotate(45deg);
          background: var(--secondary-color-1);
          color: var(--heading-color);
          border-color: var(--secondary-color-1);
        }
      }
    }
    &:hover {
      .portfolio__two-item-content {
        h4 {
          a {
            color: var(--secondary-color-1);
          }
        }

        a i {
          background: var(--secondary-color-1);
          color: var(--heading-color);
          border-color: var(--secondary-color-1);
        }
      }
    }
  }
}
/*==========================================================================
* Portfolio Details CSS
==========================================================================*/
.project__details {
  &-content {
    .meta {
      margin: 25px 0;
      ul {
        padding: 0;
        margin: 0;
        display: inline-flex;
        column-gap: 25px;
        align-items: center;
        flex-wrap: wrap;
        row-gap: 5px;
        li {
          list-style: none;
          a {
            transition: 0.4s;
            display: inline-flex;
            gap: 10px;
            align-items: center;
            font-size: 14px;
            line-height: 24px;
            font-weight: 400;
          }
        }
      }
    }
    .information {
      margin: 30px 0;
      ul {
        padding: 0;
        margin: 0;
        display: inline-flex;
        column-gap: 30px;
        align-items: center;
        flex-wrap: wrap;
        row-gap: 15px;
        li {
          list-style: none;
          font-size: 24px;
          line-height: 34px;
          color: var(--color-1);
          font-weight: 500;
          border: 1px solid #181818;
          padding: 10px 26px;
          border-radius: 5px;
          span {
            transition: 0.4s;
            display: inline-flex;
            gap: 10px;
            align-items: center;
            font-weight: 400;
            color: var(--body-color);
            font-size: 20px;
            line-height: 30px;
            margin-inline-start: 10px;
          }
          &:first-child {
            background: var(--secondary-color-2);
            border-color: var(--secondary-color-2);
          }
        }
      }
    }
    .list p i {
      margin-inline-end: 10px;
      color: var(--color-8);
    }
  }
  .navigation {
    background: var(--color-8);
    margin-top: 40px;
    a:hover i {
      background: #a397df;
      border-color: #a397df;
    }
  }
}

@media (max-width: 767px) {
  .portfolio__two-item img {
    min-height: 360px;
  }
}
