/*==========================================================================
* Video Area CSS
==========================================================================*/
.video__area {
  padding: 200px 0;
  text-align: center;
  position: relative;
  .video a {
    width: 100px;
    height: 100px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: var(--primary-color-1);
    color: var(--text-white);
    border-radius: 50%;
    font-size: 25px;
  }

  img {
    position: absolute;
    inset: 0px;
  }

  .parallax-image-wrap {
    overflow: hidden !important;
    width: 100%;
    position: absolute;
    inset: 0px;
  }
  .parallax-image-inner {
    height: 100%;
  }

  .parallax-image {
    height: 100%;
    object-fit: cover !important;
  }
}
.parallax-image-wrap {
  overflow: hidden !important;
}

.parallax-image {
  transform: scale(1.2);
  transform-origin: 50% 100%;
}

@mixin box($value) {
  width: $value;
  min-width: $value;
  height: $value;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

// video popup
.vid-m {
  position: fixed;
  inset-inline-end: 20px;
  bottom: 40px;
  z-index: 99;
  width: 160px;
  height: 285px;
  max-height: 285px;
  display: none;

  .vid-c {
    text-align: end;
  }

  video {
    width: 100%;
    height: 100%;
    max-height: 285px;
    border-radius: 20px;
  }

  button {
    @include box(34px);
    background-color: var(--primary-color-1);
    color: black;
    font-size: 14px;
    margin-inline-start: auto;
    transform: translateY(50%);
    position: relative;
    z-index: 9;
  }

  h5 {
    position: absolute;
    top: 30%;
    inset-inline-end: 100%;
    padding: 20px;
    background-color: var(--primary-color-1);
    color: black;
    border-radius: 20px 20px 0px 20px;
    line-height: 0px;
    transform: translateX(30%);
  }
}

.vid-a {
  display: block;
}

.folks-text {
  gap: 0px !important;
}

// custom video modal
.video-backdrop {
  position: fixed;
  inset: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  transition: all 0.5s;
  z-index: 9999999 !important;
  box-sizing: content-box;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-out;
}

.video-inner {
  max-width: 100%;
  height: calc(100% - 120px);
  max-height: 100%;
  min-height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 60px 20px;
  overflow-y: auto;
  cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVBAMAAABbObilAAAAMFBMVEVMaXH////////////////////////////////////////////////////////////6w4mEAAAAD3RSTlMAlAX+BKLcA5+b6hJ7foD4ZP1OAAAAkUlEQVR4XkWPoQ3CUBQAL4SktoKAbCUjgAKLJZ2ABYosngTJCHSD6joUI6BZgqSoB/+Shqde7sS9x3OGk81fdO+texMtRVTia+TsQtHEUJLdohJfgNNPJHyEJPZTsWLoxShqsWITazEwqePAn69Sw2TUxk1+euPis3EwaXy8RMHSZBIlRcKKnC5hRctjMf57/wJbBlAIs9k1BAAAAABJRU5ErkJggg==),
    progress;
}

.video-zoom-in {
  visibility: visible;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.9);
  .video-container {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }
}

.video-container {
  position: relative;
  max-width: 850px;
  max-height: 480px;
  width: 100%;
  height: 100%;
  z-index: 9999999 !important;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease-in-out;
  transform: scale(0.7);
  transition-delay: 0.3s;

  .video {
    width: 100%;
    height: 100%;
    border: 0px;
  }
}

.close-video-popup {
  position: absolute;
  top: -60px;
  inset-inline-end: -6px;
  background-color: transparent;
  font-size: 30px;
  box-shadow: none;
  border: 0px;
  color: white;
  margin: 0px;
  padding: 0px;
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  &:hover {
    color: white;
  }
}

.ripple {
  position: relative;
  z-index: 1;

  &::before,
  &::after {
    position: absolute;
    inset-inline-start: 50%;
    top: 50%;
    width: 60px;
    height: 60px;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    border-radius: 50%;
    box-shadow: 0 0 0 0 rgba(243, 159, 95, 0.5);
    -webkit-animation: rippleOne 3s infinite;
    animation: rippleOne 3s infinite;
  }

  &::before {
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
    content: "";
    position: absolute;
    inset-inline-end: 0;
    bottom: 0;
  }

  &::after {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
    content: "";
    position: absolute;
    inset-inline-end: 0;
    bottom: 0;
    background-color: white;
    z-index: -1;
  }

  i {
    color: var(--primary-color-1);
  }
}

@keyframes rippleOne {
  70% {
    box-shadow: 0 0 0 40px rgba(244, 68, 56, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(244, 68, 56, 0);
  }
}

@media only screen and (max-width: 991.98px) {
  .video-container {
    max-width: 540px;
    max-height: 300px;
  }

  .close-video-popup {
    top: -50px;
    font-size: 24px;
  }
}
