/*==========================================================================
* Work Process CSS
==========================================================================*/
.work__process {
  background: var(--color-2);
  &-title {
    text-align: center;
    max-width: 850px;
    margin: 0 auto;
  }
  &-item {
    text-align: center;
    position: relative;
    margin-top: 40px;
    .shape {
      position: absolute;
      inset-inline-end: -170px;
      top: 40px;
    }
    &-icon {
      position: relative;
      width: 150px;
      height: 150px;
      border-radius: 50%;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      color: var(--color-1);
      background: var(--secondary-color-4);
      margin-bottom: 20px;
      img {
        max-width: 65px;
      }
      span {
        position: absolute;
        top: -18px;
        inset-inline-start: 50%;
        transform: translateX(-50%);
        background: var(--bg-white);
        color: var(--color-1);
        font-size: 14px;
        line-height: 24px;
        font-weight: 500;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
      }
    }
    p {
      margin-bottom: 0;
      margin-top: 20px;
    }
    &.two .work__process-item-icon {
      background: var(--secondary-color-3);
    }
    &.three .work__process-item-icon {
      background: var(--color-8);
    }
  }
}
/*==========================================================================
* Work CSS
==========================================================================*/
.work__area {
  background: var(--color-1);
  &-left {
    padding-inline-end: 100px;
  }
  &-content {
    h2 {
      color: var(--text-white);
      margin-bottom: 20px;
    }
    p {
      color: var(--text-white);
      margin-bottom: 30px;
    }
  }
  &-list-item {
    display: flex;
    align-items: center;
    gap: 15px;
    background: var(--color-7);
    padding: 30px 25px;
    margin-top: 30px;
    .icon {
      background: var(--secondary-color-2);
      width: 70px;
      height: 70px;
      min-width: 70px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      img {
        max-width: 35px;
      }
    }
    .content {
      h3 {
        color: var(--text-white);
      }
      p {
        margin-bottom: 0;
        color: var(--text-white);
      }
    }
  }
}
@media (max-width: 1199px) {
  .work__area-left {
    padding-inline-end: 0;
  }
}
@media (max-width: 991px) {
  .work__process-item .shape {
    display: none;
  }
}
